@import "tailwindcss";

html,
body {
  @apply bg-gray-800;
}

#carouselcontrols {
@apply 
absolute
md:hidden
w-90
flex
justify-between
*:h-12
*:w-12
*:rounded-full
*:bg-blue-500
}

.show {
  display: block;
}